<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >   <!-- initialing the Module MyModule in the head  -->
<head>
    <title></title>
    <script src="Scripts/angular.js"></script>                         <!--including the angular-->    
    <script src="Scripts/Script.js"></script>  <!--including the external script file-->
    <script src="Scripts/Filters.js"></script>   <!--including the filter js file which we created for custom filter-->
    <link href="Style.css" rel="stylesheet" />      
                      
</head>
<body ng-app="MyModule" >

    <!--<h1>AngularJS play Ground</h1>-->


    <!--Implementing the filers in Angular-->
    <!--Implementing Sorting-->
    <!--Implementing Search-->
    <!--Implementing Custom Filters Filter.js-->
    <!--genderfilter-->
    <div ng-controller="AngularFilters">


        <center>

            Seacrh by value : <input type="text" placeholder=" Universal search" ng-model="searchTerm"/>   <!--fro universal search-->  
            <input type="checkbox" ng-model="hideGender" /> Hide Gender      <!--for ng-hide-->  
            <input type="checkbox" ng-model="Birth" /> show Date of Birth    <!--for ng-hide-->
                                                                                                                     
            <br /> <br/>
           <!-- Search By Name :  <input type="text" placeholder="search by name" ng-model="searchTerm.name" />-->    <!--to to search by a specific column do so SearchTerm.column_name-->
            <br /><br />
            
            Rows to display : <input type="number" step="1" min="1" max="20" ng-model="rowLimit" />      
          
                                                                        

                <!--creating an input field to get the number of rows to be displayed-->
                <!--since we needto update the row limit to the model also we put it in ng-model-->
                <!--step tells up the incrementation by r decrementation by a value 1-->
                <!--min and max are the number preset min and max values of the row to be displayed-->
                <!--since we hard coded the default valuwe for  row limit as 3 in the controller in script file it starts with that value-->

            Sort table with : <select ng-model="sortColumn" placeholder="--Select--">        <!-- to get the input frok the user on which the data to be sorted  to tjhe ng-model -->
                <option value="+name"> Name Asc</option>           <!--the thing to be displayed is Name Desc but the value to be sent os +name-->     
                <option value="-name"> Name Desc</option>           <!--the column name in the controller prefixed with - is descending order-->
                <option value="+Salary"> Salary Asc</option>         <!--the column name in the controller prefixed with + is ascending order-->
                <option value="-Salary"> Salary Desc</option>
                <option value="+gender"> Gender Asc</option>
                <option value="-gender"> Gender Desc</option>
                <option value="+dateofbirth"> Date of Birth Asc</option>
                <option value="-dateofbirth"> Date of Birth Desc</option>
            </select> 
            
            <table border="1" width="50%">   <!--just setting the border and the width of the table-->
                <thead >
                    <tr>
                        <th ng-click="sortData('name')">
                            name <div ng-class="getSortClass('name')"></div>
                        </th>
                        <th ng-click="sortData('gender')" ng-hide="hideGender">
                            gender <div ng-class="getSortClass('gender')"></div>
                        </th>
                        <th ng-click="sortData('gender')" ng-show="hideGender">
                            gender <div ng-class="getSortClass('gender')"></div>
                        </th>
                        <th>
                        salary (number filter)
                        </th>
                        <th ng-click="sortData('Salary')">
                        salary (currency filter) <div ng-class="getSortClass('Salary')"></div>
                        </th>
                        <th ng-click="sortData('dateofbirth')" ng-show="Birth">
                            Date Of Birth <div ng-class="getSortClass('dateofbirth')"></div>
                        </th>   
                    </tr>

                </thead>
                <tbody>
                    <tr ng-repeat="emp in employee |filter:searchTerm | orderBy:sortColumn:reverseSort | limitTo:rowLimit ">
                        <!--making the loop to stop at the row limit which we got from the input we use limitTo -->
                        <!--to sort the datas in the table according to the input given orderBy-->

                        <td>{{emp.name | uppercase}}</td>                       <!--converts ti UPPER CASE-->
                        <td ng-hide="hideGender">{{emp.gender | genderfilter | lowercase}}</td>    <!--including gender the custom filter we creaed in filter.js named genderfilter--> <!--converts to lowerr case-->
                        
                        
                        <td ng-show="hideGender">  ####  </td>   
                        
                        
                        <td>{{emp.Salary | number:2}}</td>                      <!--convert the decimals to two decimal places-->

                        <td>{{emp.Salary | currency:"Rs. ": 1}}</td>
                        <!--by default the currency symboml is $- doalr so we set our custom currency
        by default the decimal placed for the currency filter is 2 so we are setting it to one-->

                        <td ng-show="Birth">{{emp.dateofbirth | date: "dd/ MMM / yyyy"}}</td>
                        <!--by default the date also includes the time stamp also
        date filter and its custom format can be used to customise the view-->

                    </tr>
                </tbody>
            </table>
        </center>

    </div>



    <!-- Implementing the handling event  -->
    <div ng-controller="HandlingEvent">
        <table>
            <thead>
                <tr>
                    <th>name</th>
                    <th>like</th>
                    <th>dislike</th>
                    <th>like/dislike</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="technology in technologies">
                    <td>{{technology.name}}</td>
                    <td>{{technology.like}}</td>
                    <td>{{technology.dislike}}</td>
                    <td>
                        <input type="button" value="like"    ng-click="incrementlike(technology)" />
                        <input type="button" value="dislike" ng-click="incrementdislike(technology)" />
                        <input type="button" value="reset"   ng-click="resetlikeAndDislike(technology)" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br /><br /><br />


    <!-- Implementing the two way data binding function --> 
    <div ng-controller="TwoWayDataBinding">
        <table>
            <tr>
                <td>First Name :</td>
                <td> <input type="text" ng-model="employees.name" /> </td>
            </tr>
            <tr>
                <td>Designation :</td>
                <td> <input type="text" ng-model="employees.designation" /> </td>s
            </tr>
            <tr>
                <td>Date of Joining :</td>
                <td> <input text="text" ng-model="employees.date" /> </td>
            </tr>
            <tr>
                <td>Salary :</td>
                <td> <input type="number" ng-model="employees.salary" /> </td>
            </tr>

        </table>

        <br /><br /><br />
        <table>
            <tr>
                <td>First Name :</td>
                <td> {{employees.name}}</td>
            </tr>
            <tr>
                <td>Designation :</td>
                <td> {{employees.designation}}</td>
            </tr>
            <tr>
                <td>Date of Joining :</td>
                <td> {{employees.date}}</td>
            </tr>
            <tr>
                <td>Salary :</td>
                <td> {{employees.salary}}</td>
            </tr>

        </table>
    </div>
    <br /><br /><br />


    <table ng-controller="Table">
        <!--initialioxing the MyController controller of the angular in the html
        specifically to the region inside the table-->
        <thead>
            <tr>
                <td>name</td>
                <td>Designation</td>
                <td>Date Of Joining</td>
                <td>Salary</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="emp in employees">
                <!--using the repeat function to loop inside the datas in an array-->
                <td>{{emp.name}}</td>
                <td>{{emp.Designation}}</td>
                <td>{{emp.DateOfJoining}}</td>
                <td>{{emp.Salary}}</td>
            </tr>
        </tbody>
    </table>



    <div ng-controller="NestedArrays">
        <!--initialioxing the MyController1 controller of the angular in the html
          specifically to the region inside the div tag-->



        <ul ng-repeat="country in countries">
            <!--using the repeat function to loop inside the datas in an array-->
            {{country.name}}
            <li ng-repeat="city in country.City">
                <!--to loop the datas of an array insid an array-->
                {{city.name}}
            </li>

        </ul>

    </div>
</body>
</html>
